<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/customTH.js}"></script>
</head>

<body style="background-color: #dcdcdc;">
    <div class="container mt-3 pt-3 pb-3 bg-light">
        <h3 th:text="#{detail.title}"></h3>
        <hr>

        <div th:object="${movie}" class="container mt-2 mb-2 bg-white p-4 rounded-lg d-flex">
            <img th:src="*{poster}" alt="">
            <div class="container-sm">
                <h4 class="text-dark" th:text="*{title}"></h4>
                <span class="d-flex justify-content-between">
                    <h6 class="text-dark d-inline" th:text="*{year}"></h6>
                    <h6 class="d-inline " th:text="#{new.film}"></h6>
                </span>
                <h6 class="text-dark" th:text="*{director}"></h6>
                <br>
                <p class="text-dark" th:text="*{info}"></p>
            </div>
        </div>
        <a th:href="@{/movies}" class="button bg-secondary text-white rounded-sm m-2 p-2 align-right" th:text="#{button.back}"></a>
    </div>
    <div th:insert="~{fragments/langSelector.html :: body}"></div>
    </div>
</body>