<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/customTH.js}"></script>
</head>
<header>

</header>

<body style="background-color: #dcdcdc;">
    <div class="container mt-3 p-3 bg-light text-center">
        <h1 th:text="#{main.title}"></h1>
        <hr>
        <div class="container mt-3 pb-2 px-2 bg-light text-center">
            <p th:text="#{api.description}"></p>
            <button type="button" class="btn btn-primary btn-outline-info btn-lg m-2 text-white" th:text="#{button.launch}" onclick="window.location.href='/movie/search'"></button>
        </div>


        <div th:insert="~{fragments/langSelector.html :: body}"></div>
    </div>



</body>

</html>