<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/customTH.js}"></script>
</head>

<body style="background-color: #dcdcdc;">
    <div class="container mt-3 pt-3 pb-3 bg-light">
        <h3 th:text="#{finder.title}"></h3>
        <hr>
        <br>
        <p th:text="#{information}"> </p>
        <form th:action="@{/movies/search}">
            <div class="input-group">
                <input type="text" class="form-control rounded-left" th:placeholder="#{film.title}" id="title" name="title">
                <input type="text" class="form-control rounded-0" th:placeholder="#{film.year}" id="year" name="year">
                <div class="input-group-prepend" id="button-addon4">
                    <button class="btn btn-info btn-outline-primary text-white rounded-0" type="submit" th:text="#{button.search}"></button>
                    <button class="btn btn-info btn-outline-primary text-white rounded-right" type="button" th:text="#{button.delete}" th:action="@{/movies}"></button>
                </div>
        </form>
        </div>
        <div class="container-sm mb-2">
            <h4 th:text="#{results}" id="resultsText" class="mt-3" style="visibility:visible"></h4>
            <div class="container-sm  p-3 m-3 bg-light text-dark" id="infoPelis" style="visibility:visible">
                <div th:each="movie : ${movie}" th:object="${movie}" class="container mt-5 bg-white p-4 border border-dark rounded-lg d-flex">
                    <img th:src="*{poster}" alt="">
                    <div class="container-sm">
                        <h4 class="text-dark" th:text="*{title}"></h4>
                        <span class="d-flex justify-content-between">
                            <h6 class="text-dark d-inline" th:text="*{year}"></h6>
                            <h5 th:if="${movie.year == 2020}" class="d-inline" th:text="#{new.film}"></h5>
                        </span>
                        <p class="text-dark" th:text="*{info}"></p>
                        <a th:href="@{/movies/detail/}+*{id}" class="button bg-secondary text-white rounded-sm p-2" th:text="#{button.detail}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:insert="~{fragments/langSelector.html :: body}"></div>
    </div>
</body>